<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista Telefonica</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            .selecionado {
                background-color: yellow;
            }
            .negrito {
                font-weight: bold;
            }

        </style>
        <script>
            //Cria o modulo
            angular.module("listaTelefonica", []);

            //cria o controller
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
                $scope.app = 'Lista Telefonica'
                $scope.contatos = [
                    {nome: "Pedro", telefone: "99998888", cor: "blue"},
                    {nome: "Maria", telefone: "99998887", cor: "black"},
                ]

                $scope.adicionarContato = function(contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato
                    //Volta o contatoForm ao estado virgem
                    $scope.contatoForm.$setPristine()
                };
                $scope.operadoras = [
                    {nome: "Oi", codigo: 14, categoria: "Celular"},
                    {nome: "Vivo", codigo: 15, categoria: "Celular"},
                    {nome: "Tim", codigo: 16, categoria: "Celular"},
                    {nome: "GVT", codigo: 25, categoria: "Fixo"},
                    {nome: "GVT", codigo: 21, categoria: "Fixo"}
                ];
                $scope.apagarContatos = function(contatos) {
                    $scope.contatos = contatos.filter(function(contato) {
                        if (!contato.selecionado)
                            return contato;
                    })
                }
                $scope.isContatoSelecionado =  function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado
                    });
                }

            })
        </script>
    </head>
    <body>
        <div ng-controller="listaTelefonicaCtrl">
            <div class="jumbotron">
                <h3 ng-bind="app"></h3>
                <table ng-show="contatos.length > 0" class="table">
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Operadora</th>
                        <th></th>
                    </tr>
                    <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                        <th><input type="checkbox" ng-model="contato.selecionado" /></th>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                        <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                   
                        <!-- Podemos iterar o td usando a linha abaixo de forma dinamica 
                            <td ng-repeat="(key, value) in contato">{{value}}</td>-->
                    </tr>
                </table>
                <hr />
                É valido {{contatoForm.$valid}}
                É invalido {{contatoForm.$invalid}}
                <form name="contatoForm">
                    <input class="form-control" type="text" 
                        ng-model="contato.nome" name="nome" 
                        placeholder="Nome" ng-required="true"
                       />
                    <input class="form-control" type="text" 
                        ng-model="contato.telefone" name="telefone" 
                        placeholder="Telefone" ng-required="true"/>
                    <select class="form-control" 
                        ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                            <option value="">Selecione uma operadora</option>
                    </select>
                </form>

                <div class="alert alert-danger" ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty">
                    Por favor, preencha o campo nome
                </div>
                
                <div class="alert alert-danger" ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty">
                    Por favor, preencha o campo telefone
                </div>

                <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
                <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contato</button>
            </div>
        </div>
        <!-- codigo comentado por contao cross origin
            <div ng-include="'footer.html'"></div>-->
    </body>
</html>