<html ng-app="listaTelefonica">
    <head>
        <title>Lista Telefonica</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            .selecionado {
                background-color: yellow;
            }
            .negrito {
                font-weight: bold;
            }

        </style>
        <script>
            //Cria o modulo
            angular.module("listaTelefonica", []);

            //cria o controller
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
                $scope.app = 'Lista Telefonica'
                $scope.contatos = [
                    {nome: 'Pedro', telefone: '99998888'},
                    {nome: 'Maria', telefone: '99998887'},
                ]

                $scope.adicionarContato = function(contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato
                };
                $scope.operadoras = [
                    {nome: "Oi", codigo: 14, categoria: "Celular"},
                    {nome: "Vivo", codigo: 15, categoria: "Celular"},
                    {nome: "Tim", codigo: 16, categoria: "Celular"},
                    {nome: "GVT", codigo: 25, categoria: "Fixo"},
                    {nome: "GVT", codigo: 21, categoria: "Fixo"}
                ];
                $scope.apagarContatos = function(contatos) {
                    $scope.contatos = contatos.filter(function(contato) {
                        if (!contato.selecionado)
                            return contato;
                    })
                }
                $scope.isContatoSelecionado =  function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado
                    });
                }

            })
        </script>
    </head>
    <body>
        <div ng-controller="listaTelefonicaCtrl">
            <div class="jumbotron">
                <h3 ng-bind="app"></h3>
                {{contatos}}
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Operadora</th>
                    </tr>
                    <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                        <th><input type="checkbox" ng-model="contato.selecionado" /></th>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>

                        <!-- Podemos iterar o td usando a linha abaixo de forma dinamica 
                            <td ng-repeat="(key, value) in contato">{{value}}</td>-->
                    </tr>
                </table>
                <hr />
                <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
                <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
                <select class="form-control" 
                    ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                        <option value="">Selecione uma operadora</option>
                </select>
                <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
                <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar contato</button>
                {{contato}}
            </div>
        </div>
    </body>
</html>